# Analisis de datos

## Formulas a utilizar

* Datos convertidos en VoltajeM
$Datos[V]=(\frac{ValorDato \ast VDIV}{25})-OFST$

* Distancia total del evento
$NroTotal=SARA \ast TDIV \ast 14 $

* Distancia temporal de cada intervalo de eventos
$H.V =2.00E-05 [s]$

* Tiempo Total del Osciloscopio
$TiempoTotal=TDIV \ast 14$

## Lectura de Archivo

In [1]:
#importamos librerias a utilizar
import os
import re
import pandas as pd
import numpy

In [2]:
# lee el contenido del archio de texto donde se esta almacenado
# vectores de almacenamiento
event_data = event = []
contador_evento = contador_suceso = 0
# Character control for identifying headers
caracter_control = "#"
# Capture of empty field values
VDIV = OFST = TDIV = SARA = 0.0
# Capture of text field values
C_VDIV = C_OFST = C_TDIV = C_SARA = ""
# Text values to search in the string
T_VDIV = "VDIV"
T_OFST = "OFST"
T_TDIV = "TDIV"
T_SARA = "SARA"
#manejo de fechas
start_date = end_date = None
T_DATE = r"(Mon|Tue|Wed|Thu|Fri|Sat|Sun) (\w{3}) (\d{1,2}) (\d{2}:\d{2}:\d{2}) ([\+\-]\d{4}) ([\+\-]\d{2}) (\d{4})"

In [3]:
with open('../documentos/DAQ_20K_05.07.22.txt', 'r', encoding='latin1') as file:
    for line in file:
        if line.startswith(caracter_control):
            if "Tue" in line or "Mon" in line or "Wed" in line or "Thu" in line or "Fri" in line or "Sat" in line or "Sun" in line:
                if not start_date:
                    start_date=line.strip().split('#')[1]                    
                else:
                    end_date=line.strip().split('#')[1]                    
            contador_evento += 1
            event = []

            # Check if the line contains all required text values
            if all(text in line for text in [T_VDIV, T_OFST, T_TDIV, T_SARA]):
                cadena = line.split(' ')
                # Separate text data from the header
                for i, word in enumerate(cadena):
                    if word.endswith(T_VDIV):
                        C_VDIV = float(cadena[i + 1].split('V')[0])
                    elif word.endswith(T_OFST):
                        C_OFST = float(cadena[i + 1].split('V')[0])
                    elif word.endswith(T_TDIV):
                        C_TDIV = float(cadena[i + 1].split('S')[0])
                    elif word.endswith(T_SARA):
                        C_SARA = float(cadena[i + 1].split('Sa/s')[0])
        elif re.match(re.compile(r'^\-?[1-9][0-9]*$'), line):
            event.append(int(line))
        elif len(line.strip()) == 0 and contador_suceso == 0:
            # total_event = C_SARA * C_TDIV * 14
            # if len(event) != int(total_event):
            #     event += [0] * (int(total_event) - len(event))
            # else:
            #     print(len(line))
            contador_suceso += 1
            event_data.append(event)
        else:
            contador_suceso = 0  # Comment explaining the purpose of this line

In [4]:
C_VDIV

0.1

In [5]:
 C_OFST

0.28

In [6]:
 C_TDIV

2e-08

In [7]:
C_SARA

1000000000.0

In [8]:
print(start_date)

 Tue Apr 26 00:57:17 -0400 -04 2022

In [9]:
print(end_date)

 Thu Apr 28 04:40:47 -0400 -04 2022

In [10]:
l_df=pd.DataFrame(event_data).transpose()
#l_df.to_csv(\"dataset.csv\",index=False,header=True)

In [11]:
l_df

,0,1,2,3,4,5,6,7,8,9,...,10926,10927,10928,10929,10930,10931,10932,10933,10934,10935
0,70.0,70.0,69.0,71.0,70.0,70.0,70.0,70.0,70.0,71.0,...,69.0,70.0,53.0,-125.0,69.0,69.0,70.0,70.0,69.0,69.0
1,71.0,70.0,70.0,70.0,70.0,70.0,69.0,70.0,71.0,70.0,...,70.0,69.0,53.0,-125.0,71.0,70.0,70.0,70.0,69.0,70.0
2,70.0,70.0,70.0,70.0,70.0,71.0,70.0,69.0,70.0,70.0,...,70.0,69.0,55.0,-125.0,70.0,69.0,70.0,70.0,70.0,69.0
3,70.0,70.0,70.0,69.0,70.0,71.0,69.0,71.0,71.0,70.0,...,70.0,70.0,58.0,-125.0,70.0,69.0,69.0,70.0,70.0,71.0
4,70.0,70.0,70.0,69.0,70.0,70.0,70.0,70.0,70.0,70.0,...,70.0,70.0,58.0,-125.0,71.0,71.0,69.0,69.0,69.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,70.0,70.0,69.0,69.0,70.0,69.0,69.0,69.0,70.0,69.0,...,69.0,70.0,71.0,68.0,69.0,70.0,68.0,70.0,70.0,69.0
275,70.0,70.0,69.0,69.0,70.0,69.0,69.0,69.0,69.0,70.0,...,69.0,70.0,70.0,NaN,69.0,69.0,69.0,70.0,70.0,70.0
276,70.0,71.0,69.0,69.0,70.0,69.0,69.0,70.0,70.0,70.0,...,70.0,71.0,70.0,NaN,69.0,69.0,69.0,69.0,69.0,70.0
277,70.0,71.0,70.0,NaN,70.0,70.0,70.0,69.0,70.0,69.0,...,70.0,70.0,71.0,NaN,69.0,69.0,70.0,71.0,70.0,70.0
278,69.0,70.0,70.0,NaN,69.0,70.0,69.0,70.0,69.0,NaN,...,NaN,70.0,71.0,NaN,NaN,71.0,69.0,70.0,70.0,71.0

In [12]:
# especificando la direccion de archivo a guardar
#ruta_csv = '../documentos/datos.csv'

In [13]:
# Guarda el DataFrame en un archivo CSV
#l_df.to_csv(ruta_csv, index=False)

## Grafica de Datos Capturados

In [14]:
df=l_df

In [15]:
df

,0,1,2,3,4,5,6,7,8,9,...,10926,10927,10928,10929,10930,10931,10932,10933,10934,10935
0,70.0,70.0,69.0,71.0,70.0,70.0,70.0,70.0,70.0,71.0,...,69.0,70.0,53.0,-125.0,69.0,69.0,70.0,70.0,69.0,69.0
1,71.0,70.0,70.0,70.0,70.0,70.0,69.0,70.0,71.0,70.0,...,70.0,69.0,53.0,-125.0,71.0,70.0,70.0,70.0,69.0,70.0
2,70.0,70.0,70.0,70.0,70.0,71.0,70.0,69.0,70.0,70.0,...,70.0,69.0,55.0,-125.0,70.0,69.0,70.0,70.0,70.0,69.0
3,70.0,70.0,70.0,69.0,70.0,71.0,69.0,71.0,71.0,70.0,...,70.0,70.0,58.0,-125.0,70.0,69.0,69.0,70.0,70.0,71.0
4,70.0,70.0,70.0,69.0,70.0,70.0,70.0,70.0,70.0,70.0,...,70.0,70.0,58.0,-125.0,71.0,71.0,69.0,69.0,69.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,70.0,70.0,69.0,69.0,70.0,69.0,69.0,69.0,70.0,69.0,...,69.0,70.0,71.0,68.0,69.0,70.0,68.0,70.0,70.0,69.0
275,70.0,70.0,69.0,69.0,70.0,69.0,69.0,69.0,69.0,70.0,...,69.0,70.0,70.0,NaN,69.0,69.0,69.0,70.0,70.0,70.0
276,70.0,71.0,69.0,69.0,70.0,69.0,69.0,70.0,70.0,70.0,...,70.0,71.0,70.0,NaN,69.0,69.0,69.0,69.0,69.0,70.0
277,70.0,71.0,70.0,NaN,70.0,70.0,70.0,69.0,70.0,69.0,...,70.0,70.0,71.0,NaN,69.0,69.0,70.0,71.0,70.0,70.0
278,69.0,70.0,70.0,NaN,69.0,70.0,69.0,70.0,69.0,NaN,...,NaN,70.0,71.0,NaN,NaN,71.0,69.0,70.0,70.0,71.0

In [16]:
import pandas as pd
import plotly.graph_objs as go
import ipywidgets as widgets
from IPython.display import display
import numpy as np

In [17]:
# Crear una lista de nombres de columnas
columnas = df.columns.tolist()

In [18]:
# Crear un widget de selección de columna
dropdown_columna = widgets.Dropdown(options=columnas, description='Columna:')

In [19]:
# Crear una función para actualizar el gráfico cuando se selecciona una columna
def update_grafico(columna):
    fig = go.Figure()
    fig.add_trace(go.Scatter(x=df.index, y=df[columna], mode='lines', name=columna))
    fig.update_layout(title=f'Gráfico de la columna {columna}', xaxis_title='Tiempo', yaxis_title='Valor')
    fig.show()

In [20]:
# Asociar la función de actualización al evento de cambio de selección
widgets.interactive(update_grafico, columna=dropdown_columna)

interactive(children=(Dropdown(description='Columna:', options=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, …

## Conversion de datos

In [21]:
# datos a utilizar
data=l_df
OFFSET = C_OFST 
AmpWF=C_VDIV/25
print("OFFSET={}, AmpWF={}".format(OFFSET, AmpWF))

OFFSET=0.28, AmpWF=0.004

In [22]:
num_filas=df.shape[0]
num_filas

279

In [23]:
#iteracion sobre cada columna
for columna in data.columns:
    #obtener los valores de cada columna actual
    vecSig=data[columna].values
    hsig=np.zeros(num_filas)
    #iterar sobre cada fila en la columna actual
    for i,valor in enumerate (vecSig):
        #calcular el valor de wf para cada valor de la fila
        wf=abs((valor*AmpWF-OFFSET)-(vecSig[0]*AmpWF-OFFSET))
        # asignamos el valor de wf al indice que le corresponde en hsig
        if i<num_filas:
            hsig[i]=wf
    data[columna]=hsig

In [32]:
data=data.fillna(0)
data

,0,1,2,3,4,5,6,7,8,9,...,10926,10927,10928,10929,10930,10931,10932,10933,10934,10935
0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,0.004,0.000,0.004,0.004,0.000,0.000,0.004,0.000,0.004,0.004,...,0.004,0.004,0.000,0.000,0.008,0.004,0.000,0.000,0.000,0.004
2,0.000,0.000,0.004,0.004,0.000,0.004,0.000,0.004,0.000,0.004,...,0.004,0.004,0.008,0.000,0.004,0.000,0.000,0.000,0.004,0.000
3,0.000,0.000,0.004,0.008,0.000,0.004,0.004,0.004,0.004,0.004,...,0.004,0.000,0.020,0.000,0.004,0.000,0.004,0.000,0.004,0.008
4,0.000,0.000,0.004,0.008,0.000,0.000,0.000,0.000,0.000,0.004,...,0.004,0.000,0.020,0.000,0.008,0.008,0.004,0.004,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,0.000,0.000,0.000,0.008,0.000,0.004,0.004,0.004,0.000,0.008,...,0.000,0.000,0.072,0.772,0.000,0.004,0.008,0.000,0.004,0.000
275,0.000,0.000,0.000,0.008,0.000,0.004,0.004,0.004,0.004,0.004,...,0.000,0.000,0.068,0.000,0.000,0.000,0.004,0.000,0.004,0.004
276,0.000,0.004,0.000,0.008,0.000,0.004,0.004,0.000,0.000,0.004,...,0.004,0.004,0.068,0.000,0.000,0.000,0.004,0.004,0.000,0.004
277,0.000,0.004,0.004,0.000,0.000,0.000,0.000,0.004,0.000,0.008,...,0.004,0.000,0.072,0.000,0.000,0.000,0.000,0.004,0.004,0.004
278,0.004,0.000,0.004,0.000,0.004,0.000,0.004,0.000,0.004,0.000,...,0.000,0.000,0.072,0.000,0.000,0.008,0.004,0.000,0.004,0.008

In [33]:
#Crear una lista de nombres de columnas
columnas = data.columns.tolist()

In [34]:
#Crear un widget de selección de columna
dropdown_columna = widgets.Dropdown(options=columnas, description='Columna:')

In [35]:
#Crear una función para actualizar el gráfico cuando se selecciona una columna
def update_grafico1(columna):
    fig = go.Figure()
    fig.add_trace(go.Scatter(x=data.index, y=data[columna], mode='lines', name=columna))
    fig.update_layout(title=f'Gráfico de la columna {columna}', xaxis_title='Tiempo', yaxis_title='Valor')
    fig.show()

In [36]:
# Asociar la función de actualización al evento de cambio de selección
widgets.interactive(update_grafico1, columna=dropdown_columna)

interactive(children=(Dropdown(description='Columna:', options=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, …

In [37]:
# especificando la direccion de archivo a guardar
# ruta_csv = '../documentos/datos_modificados.csv'
# data.to_csv(ruta_csv, index=False)